/* .form__container {
  display: flex;
  flex-wrap: wrap;
}

.form__textarea {
  width: 100vw;
  max-width: 600px;
}

.form__textarea--label {
  width: 100vw;
  margin: 0;
  margin-bottom: 1.26rem;
  display: flex;
} */
